:local(.container) {
  padding: 50px 20px;
  @media screen and (min-width: 764px){
    padding: 30px 40px 0 60px;
  }
  position: absolute;
  height: calc(100% - 73px);
  overflow-y: scroll;
  width: 100%;
}
